*.class
*.iml

/.idea/
*/target/
/logs/*
/logs/
/ba/logs/
/target/

!.mvn/wrapper/maven-wrapper.jar
mvnw*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea**/*
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/